In [1]:
import xarray as xr

In [6]:
elevfile = xr.open_dataset('/glade/p/work/manab/ff/islandpark/input/us_09066300_elev_bands.nc')
elevfile

<xarray.Dataset>
Dimensions:         (elevation_band: 14, latitude: 1, longitude: 1)
Coordinates:
  * longitude       (longitude) float64 39.65
  * latitude        (latitude) float64 39.65
  * elevation_band  (elevation_band) int32 1 2 3 4 5 6 7 8 9 10 11 12 13 14
Data variables:
    area_frac       (elevation_band, latitude, longitude) float64 ...
    mean_elev       (elevation_band, latitude, longitude) float64 ...
    prec_frac       (elevation_band, latitude, longitude) float64 ...

In [10]:
elevfile['latitude'] = elevfile['latitude']*0 + 44.5118087293063
elevfile['longitude'] = elevfile['longitude']*0 -111.434567218585
elevfile.to_netcdf('/glade/p/work/manab/ff/islandpark/input/islandpark_elev_bands.nc')